body, body.overlay {
    color: #3b3b3b;
}
body, #site-slogan, .ui-widget, .comment-form label {
    font-family: Arial,Georgia,"Times New Roman",Times,serif;
}
body {
    line-height: 1.5;
    font-size: 87.5%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
p {
    margin: 0 0 1.2em;
}
.node .content {
    font-size: 1.071em;
}
.field--name-user-picture.field--type-image {
    margin: 0;
}
.node__meta .field--name-user-picture img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
}
