{#
/**
 * @file password.html.twig
 * Default theme implementation to present Password data.
 *
 * This template is used when viewing Password pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_password()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('password') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
